@font-face {
    font-family: "Contrail One";
    src: url(fonts/contrail_one.ttf);
}

@font-face {
    font-family: "News Cycle";
    src: url(fonts/news_cycle.ttf);
}

.largeHeader {
    /*font-family: "Contrail One";*/
    font-size: 4.5em;
    font-weight: bold;
    color: black;
    padding-left: 40px;
}

.smallHeader{
    /*font-family: "Contrail One";*/
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 30px;
    background-color: #e9ecef;
    margin-bottom: 35px;
}

.jumbotron {
    height: 200px;
}

.fa-times {
    font-size: 14px;
    color: black;
}

.fa-trash {
    color: black;
}


.fa-sign-out {
    color: black;
}

.fa-arrow-left {
    color: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6c757d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6c757d;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*.btn {*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
/*}*/
/*.wbdv-header {*/
    /*font-family: "Contrail One";*/
/*}*/