@font-face {
    font-family: "Contrail One";
    src: url(fonts/contrail_one.ttf);
}

@font-face {
    font-family: "News Cycle";
    src: url(fonts/news_cycle.ttf);
}

.largeHeader {
    /*font-family: "Contrail One";*/
    font-size: 4.5em;
    font-weight: bold;
    color: black;
    padding-left: 40px;
}

.smallHeader{
    /*font-family: "Contrail One";*/
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 30px;
    background-color: #e9ecef;
    margin-bottom: 35px;
}

.jumbotron {
    height: 200px;
}

.fa-times {
    font-size: 14px;
    color: black;
}

.fa-trash {
    color: black;
}


.fa-sign-out {
    color: black;
}

.fa-arrow-left {
    color: black;
}

/*.wbdv-header {*/
    /*font-family: "Contrail One";*/
/*}*/