@font-face {
    font-family: "Contrail One";
    src: url(../fonts/contrail_one.ttf);
}

@font-face {
    font-family: "News Cycle";
    src: url(../fonts/news_cycle.ttf);
}

.largeHeader {
    font-family: "Contrail One";
    font-size: 4.5em;
    font-weight: bold;
    color: black;
    padding-top: 30px;
    padding-left: 40px;
}

.jumbotron {
    height: 500px;
}